<template>
  <div>
    <v-container grid-list-xs id="text-container" v-if="notes">
      <transition
        name="router-anim"
        enter-active-class="animated fadeIn"
        mode="out-in"
        appear
        v-if="edit.all==true"
      >
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field
              v-if="edit.header==true"
              :readonly="false"
              v-model.trim="jote.title"
              class="title"
              label="Title"
              outline
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-textarea
              outline
              autofocus
              auto-grow
              v-if="edit.content==true"
              :readonly="false"
              v-model.trim="jote.content"
              name="input-7-4"
              label="write a note"
            ></v-textarea>
          </v-flex>
        </v-layout>
      </transition>
      <v-layout row wrap v-else-if="edit.all == false">
        <v-flex xs12>
          <h3 class="headline font-weight-regular mb-2">{{jote.title}}</h3>
        </v-flex>
        <v-flex xs12>
          <div class="read subheading font-weight-light">{{jote.content}}</div>
        </v-flex>
      </v-layout>
    </v-container>
    <div v-else>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <b>404</b>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { constants } from "crypto";
export default {
  layout: "read-note-header",
  data() {
    return {
      jote: [],
      valid: false,
      myNewNote: {
        color: null
      }
    };
  },
  mounted() {
    // console.log("routes",this.$route.params.note)
    var url = this.removeSnakeCase(this.$route.params.note);
    // var url = this.$route.params.note

    (() => {
      this.jote = this.notes.find(x => {
        if (x.title) {
          return x.title == url;
        } else if (!x.title && x.content) {
          return x.content.substring(0, 20) == url;
        } else {
          return 404;
        }
      });
    })();

    // if (this.jote) {
    // } else {
    //   console.log(404);
    // }

    // this.appFont();
  },
  computed: {
    ...mapState(["notes", "edit"])
  },
  methods: {
    removeSnakeCase(val) {
      var nospace = /_/gi;
      return val.replace(nospace, " ");
    }
  }
};
</script>

<style>
.v-input__slot {
  border: 1px dashed rgba(0, 0, 0, 0.54) !important;
}

.theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot:hover {
  border: 2px solid rgba(0, 0, 0, 0.87);
}

.v-text-field--outline.v-input--is-focused > .v-input__control > .v-input__slot,
.v-text-field--outline.v-input--has-state > .v-input__control > .v-input__slot {
  border: 1px dashed currentColor !important;
}

.v-text-field__slot textarea {
  min-height: 281px !important;
}

.read {
  width: 100%;
  height: fit-content;
}

#text-container {
  width: 100%;
  word-break: break-all;
  -ms-word-break: break-all;
}
</style>
