<template>
  <div>
    <div class="about">
      <p>{{ totalTvCount }}</p>
      <h1>This is an about page</h1>
    </div>
  </div>
</template>
<script>

export default {
  data() {
    return {};
  },
  computed: {
    totalTvCount() {
      return this.$store.state.notes.length;
    }
  },
  methods: {}
};
</script>
