<template>
  <v-container grid-list-xs>
    <v-form v-model="valid">
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field class="text title" required v-model.trim="myNewNote.title" label="Title" outline></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-textarea
            outline
            auto-grow
            required
            class="text"
            v-model.trim="myNewNote.content"
            name="input-7-4"
            label="write a note"
            value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-form>
  </v-container>
</template>
<script>
import { mapState } from "vuex";
export default {
  layout: "create-note-header",
  data() {
    return {
      // titleRules: [
      //   v => !!v || "Name is required",
      //   v => v.length <= 10 || "Name must be less than 10 characters"
      // ],
      valid: false,
      myNewNote: {
        id: "",
        color: null,
        time: null
      },
      color: [
        "green",
        "light-blue",
        "cyan",
        "teal",
        "yellow",
        "orange",
        "deep-orange",
        "brown",        
        "blue-grey",
        "purple"
      ],
      disabled: true
    };
  },
  created() {
    this.$bus.on("new-Note", this.newNote);
  },
  methods: {
    newNote() {
      // if(this.col()==)
      this.myNewNote.id = this.notes.length + 1;
      this.myNewNote.color = this.color[this.col()];
      var timeOfCreation = Date.now();
      this.myNewNote.time = timeOfCreation;
      if ((this.myNewNote && this.myNewNote.content) || this.myNewNote.title) {
        this.$store.commit("addNote", this.myNewNote);
        this.$router.push("/");
      } else {
        this.$router.push("/");
        console.log("%c invalid note", "color:red;");
      }
    },
    col() {
      var randomColor = Math.floor(Math.random() * this.color.length);
      return randomColor;
    }
  },
  computed: {
    checkValidity() {
      if (this.valid == true) {
        this.disabled = false;
      }
    },
    ...mapState(["notes"])
  },
  beforeDestroy() {
    this.$bus.off("new-Note", this.newNote);
  }
  // mounted() {
  //   this.checkValidity();
  // }
};
</script>
<style>
.flex .text .v-input__control .v-input__slot {
  border: 1px dashed rgba(0, 0, 0, 0.54) !important;
}

.theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot:hover {
  border: 2px solid rgba(0, 0, 0, 0.87);
}
.v-text-field--outline.v-input--is-focused > .v-input__control > .v-input__slot,
.v-text-field--outline.v-input--has-state > .v-input__control > .v-input__slot {
  border: 1px dashed currentColor !important;
}

.v-text-field__slot textarea {
  min-height: 281px !important;
}
</style>
