<template>
  <div class="hello">
    <v-list three-line class="hello">
      <div
        class="sortable mb-2"
        v-for="(note,name,index) of newNote"
        :key="name"
        :id="'note'+ note.id"
      >
        <v-subheader v-if="name" :key="name">{{ name}}</v-subheader>
        <draggable v-model="newNote[index]" ghost-class="ghost" @end="onAnimEnd">
          <transition-group
            appear
            tag="div"
            name="flip-list"
            enter-active-class="animated bounceInRight"
            leave-active-class="animated bounceOutRight"
          >
            <div :key="index">
              <div class v-for="(_note,_index) in note" :key="_index">
                {{newNote[_index]}}
                <v-list-tile
                  avatar
                  @click="1"
                  :key="_note.time"
                  :to="snakeCase(_note.title, _note.content)"
                >
                  <v-list-tile-avatar :color="_note.color">
                    <span
                      :class="'headline '+_note.color+' '+_note.color+'--text text--lighten-3'"
                    >{{titleAvater(_note.title,_note.content)}}</span>
                  </v-list-tile-avatar>
                  <v-list-tile-content :to="snakeCase(_note.title)">
                    <v-list-tile-title
                      v-if="_note.title"
                      class="subheading font-weight-bold"
                      v-html="_note.title"
                    ></v-list-tile-title>
                    <v-list-tile-sub-title v-if="_note.content" v-html="_note.content"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action
                    v-if="settings.showNoteTime == true"
                    class="font-weight-light"
                  >{{timeInPm(_note.time)}}</v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="_index + 1 < notes.length" :key="index"></v-divider>
              </div>
            </div>
          </transition-group>
        </draggable>
        <!-- .slice().reverse() -->
      </div>
    </v-list>
    <!-- <draggable v-model="notes" ghost-class="ghost" @end="onAnimEnd">
      <transition-group type="transition" name="flip-list">
        <div class="sortable mt-2" v-for="(note,index) in notes" :key="index" :id="notes.id">
          <strong>{{note.title}}</strong>
          <span>{{note.id}}</span>
        </div>
      </transition-group>
    </draggable>-->
    <!-- <v-btn  block color="primary">
        <v-icon>delete</v-icon>
    </v-btn>-->
    <v-container class="hello">
      <v-btn
        color="primary"
        v-if="notes.length <= 6"
        absolute
        class="createBtn"
        to="/create-new-note"
        fab
        right
        icon
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-container>
    <!-- <b>{{titleAvater}}</b> -->
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { mapState } from "vuex";
import draggable from "vuedraggable";
export default {
  name: "home",
  components: {
    // HelloWorld
    draggable
  },
  data() {
    return {
      noteAnimation: "flip-list",
      newIndex: "",
      oldIndex: "",
      newNote: [],
      show: false,
      delete: false
    };
  },
  computed: {
    // ...mapState(["notes", "newIndex", "oldIndex"])
    ...mapState(["notes", "settings"])
    // notes: {
    //   get() {
    //     return this.$store.state.notes;
    //   },
    //   set(value) {
    //     this.$store.commit("rearareng", value);
    //   }
    // }
  },
  // created() {
  //   this.$bus.on("note-Animation", this.changeAnim);
  // },
  // beforeDestroy() {
  //   this.$bus.off("note-Animation", this.changeAnim);
  // },
  methods: {
    // moveToNewArr(){

    // },
    timey() {},

    titleAvater(val, optVal) {
      var newVal;
      if (val) {
        newVal = /[a-zA-Z]{1}/g.exec(val);
        console.log(optVal);
        return newVal[0].charAt(0).toLocaleUpperCase() || undefined;
      } else if (!val && optVal) {
        newVal = /[a-zA-Z]{1}/g.exec(optVal);
        console.log(optVal);
        return newVal[0].charAt(0).toLocaleUpperCase() || undefined;
      } else {
        return "J";
      }
    },
    snakeCase(val, content, space = / /gi) {
      // val = /[a-zA-Z]+/g.exec("This is a hello world!");
      // console.log("reg", val);
      // val = /^[a-zA-Z]{20}$/g.exec("This is a hello world!");
      if (val) {
        return val.replace(space, "_");
      } else if (val && !content) {
        return val.replace(space, "_");
      } else if (!val && content) {
        return content.substring(0, 20).replace(space, "_");
      } else {
        return "404";
      }
    },
    time(epochTime) {
      var date;
      date = new Date(epochTime);
      var month = date.toLocaleString("en-us", {
        month: "short"
      });
      var day = date.getDate();
      var year = date.getFullYear();
      var newDate = month + " " + day + ", " + year;
      return newDate;
    },
    timeInPm(epochTime) {
      var d = new Date(epochTime);
      return d.toLocaleTimeString().replace(/:\d+ /, " ");
    },
    // changeAnim() {
    //   console.log("kkk ::" + this.noteAnimation);

    //   this.noteAnimation = "fadeInDown";
    //   console.log("kkk ::" + this.noteAnimation);

    //   // this.$store.commit("deleteAllNotes");
    // },
    doSomething() {
      console.log("Pressing");
    },
    onAnimEnd: function(evt) {
      this.oldIndex = event.oldIndex;

      this.newIndex = event.newIndex;
    }
    // defaultSort([val]) {
    //   return [val].splice().reverse();
    // }
  },
  created() {
    var groups = {};
    var vm = this;
    this.notes.forEach(function(val, i) {
      // console.log(i + " :: ", vm.time(val.time));
      var date = vm.time(val.time);
      if (date in groups) {
        groups[date].push(val);
      } else {
        groups[date] = new Array(val);
      }
    });
    this.newNote = groups;
    // });
  }
};
</script>

<style>
.sortable {
  cursor: move;
}
.hello.theme--light.v-list {
  background: transparent;
}
.hello .sortable-drag {
  opacity: 0;
}

.flip-list-move {
  transition: transform 0.5s !important;
}

.ghost {
  border-left: 6px solid rgb(135, 176, 253);
  box-shadow: 10px 1px 5px -1px rgba(0, 0, 0, 0.14) !important;
  opacity: 0.7;
}

.ghost:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 0px;
  background-image: url("../assets/Vinyl.svg");
}

.createBtn {
  bottom: 10px;
}

/* animations */

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown-enter-active {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
</style>
