<template>
  <div>
    <br />
    <v-layout row wrap justify-center>
      <!--  -->
      <!-- advanced -->
      <div class="setting-card mb-3">
        <v-card class="mb-3 settings_card">
          <v-list subheader two-line>
            <v-subheader class="subheading font-weight-bold">Backgrounds</v-subheader>
            <v-divider></v-divider>
            <v-list-tile @click="1" class="pl-20">
              <v-list-tile-content>
                <v-list-tile-title>Background color</v-list-tile-title>
                <small
                  class="caption font-weight-light gray--text text--darken-3"
                >set background color</small>
              </v-list-tile-content>
              <v-list-tile-action class="d-inline">
                <v-checkbox @change="bgColorCheckbox" v-model="settings.makeBgColorChoise"></v-checkbox>
                <div
                  class="colorSelectionBox"
                  :style="settings.bgColor.hex.substr(0,4)  != '#FFF'?'background-color:'+settings.bgColor.hex +
                  ';outline:1px solid'+settings.bgColor.hex :'background-color:'+settings.bgColor.hex +
                  ';outline:1px solid #ddd'"
                  @click="showBgColorBox()"
                ></div>
                <v-dialog class="elevation-0" hide-overlay v-model="bgColorDialog" max-width="225">
                  <v-card>
                    <chrome
                      v-model="settings.bgColor.hex"
                      @input="onChange"
                      @change-color="onChange"
                    ></chrome>
                  </v-card>
                </v-dialog>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="1" class="pl-20">
              <v-list-tile-content>
                <v-list-tile-title>Random Color</v-list-tile-title>
                <small
                  class="caption font-weight-light gray--text text--darken-3"
                >Randomize background colors</small>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-switch v-model="settings.randomColors" @change="randomizeColor"></v-switch>
              </v-list-tile-action>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="1" class="pl-20">
              <v-list-tile-content>
                <v-list-tile-title>Background Image</v-list-tile-title>
                <small
                  class="caption font-weight-light gray--text text--darken-3"
                >set a backround Image</small>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-switch></v-switch>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
        <v-card class="mb-3 pt-3 pb-3 settings_card">
          <v-list-tile @click="1" class="pl-20">
            <v-list-tile-content>
              <v-list-tile-title>Update Time</v-list-tile-title>
              <small
                class="caption font-weight-light gray--text text--darken-3"
              >show note last update Time</small>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-switch v-model="settings.showNoteTime" @change="showNoteTime"></v-switch>
            </v-list-tile-action>
          </v-list-tile>
        </v-card>
        <v-card class="mb-4 pt-3 pb-3 settings_card">
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            close-on-click
            auto
            :nudge-width="200"
            min-width="80%"
            class="mr-auto ml-auto"
            offset-x
          >
            <template v-slot:activator="{ on }">
              <v-list-tile v-on="on" class="pl-20">
                <v-list-tile-content>
                  <v-list-tile-title>change Font</v-list-tile-title>
                  <small
                    class="caption font-weight-light gray--text text--darken-3"
                  >choose notes font</small>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-btn icon flat fab>
                    <v-icon>mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-tile-action>
              </v-list-tile>
            </template>

            <div class="settings-user-textBox pa-3">
              <v-checkbox
                v-for="(font,name,index) in fonts"
                :key="index"
                :label="font"
                @change="changeFonts(font)"
                v-model="settings.font"
                color="red"
                :value="font"
                hide-details
              ></v-checkbox>

              <!-- <div v-for="(font,name,index) in fonts" :key="index" class="d-inline">
                <span>{{font}}:</span>
                <v-checkbox v-model="fontChoise" color="red" class="d-inline" :value="font" hide-details></v-checkbox>
              </div>-->

              <!-- <v-radio-group v-model="ex7" column>
                <v-radio label="red" color="red" value="red"></v-radio>
              </v-radio-group>-->
            </div>
          </v-menu>
        </v-card>
        <v-btn color="#ffffff70" block @click="restoreDefualt()">restore Defualt</v-btn>
      </div>
      <!--  -->
    </v-layout>
  </div>
</template>

<script>
// import { colored } from "@/components/Randomized-colors.vue";

import { Chrome } from "vue-color";
import { mapState } from "vuex";

export default {
  layout: "settings-header",
  components: {
    // "chrome-picker": chrome
    Chrome
  },
  data() {
    return {
      //changeSetting
      bgColorDialog: false,
      menu: false,
      colors: ["#D82F2F", "#2F75D8FF", "#05CB50FF", "#ff", "#fc3"],
      // fontChoise: "good",
      fonts: [
        "Text Me One", //defualt should be the last on the list
        "Milasian Circa",
        "Vacer Sans",
        "Waiting for the Sunrise",
        // "Nothing You Could Do",
        "Special Elite",
        "Sniglet",

        "Meddon",
        "Many Weatz",
        "Wankstaberg Battles",
        "Love Ya Like A Sister",
        "Kranky",
        "Just Another Hand",
        "Short Stack",
        "Smokum",
        "Monoton",
        "Made With B", // will be removed later on
        "Blockography",
        "Stroke Dimension",
        "UnifrakturCook"
      ]
    };
  },
  computed: {
    ...mapState(["settings"])
  },
  mounted() {},
  methods: {
    onChange(val) {
      console.log("Colorval", val);
      //   this.settings.bgColor = val;

      this.$store.commit("changeBgColor", val);
    },
    bgColorCheckbox(val) {
      this.$store.commit("toggleBgColorChoise", val);
    },
    showNoteTime() {
      var dialog = this.settings.showNoteTime;
      dialog != this.settings.showNoteTime;
      console.log(dialog);
      this.$store.commit("toggleShowTime", dialog);
    },
    randomizeColor(val) {
      this.$store.commit("toggleRandomColor", val);
      var randomColor = Math.floor(Math.random() * this.colors.length);
      var timer;
      if (this.settings.randomColors) {
        this.settings.bgColor.hex = this.colors[randomColor];
        timer = setInterval(() => {
          console.log(this.colors[randomColor]);
          var randomColors = Math.floor(Math.random() * this.colors.length);
          this.settings.bgColor.hex = this.colors[randomColors];
        }, 1000);
      } else {
        console.log(timer);
        clearInterval(timer);
        // return 0;
      }
    },
    showBgColorBox() {
      if (this.settings.makeBgColorChoise === true) {
        this.bgColorDialog = true;
      }
    },
    changeFonts(val) {
      // document.querySelector("#app").style.fontFamily = val;
      this.$store.commit("changeFont", val);
    },
    restoreDefualt() {
      this.$store.commit("restoreDefualt");
    }
    // colorFn() {
    //   var randomColor = Math.floor(Math.random() * this.color.length);
    //   return randomColor;
    // },
  }
};
</script>

<style>
.setting-card {
  position: relative;
  width: 85%;
}
div.setting-card .v-card {
  border: 1px solid rgb(240, 240, 240);
}
.pl-20 {
  padding-left: 20px;
}
.pl-20 .v-list__tile:hover {
  background: rgba(0, 0, 0, 0) !important;
}
.settings-user-textBox {
  background-color: white;
}
.colorSelectionBox {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;

  top: 10px;
  right: 10px;
}
.settings_card.theme--light.v-sheet {
  background-color: transparent;
}
.settings_card.theme--light.v-sheet {
  background-color: transparent;
}
.settings_card .theme--light.v-list {
  background-color: transparent;
}
/* vuetify ovaride */
.v-input--selection-controls .v-input__control .v-input__slot {
  border: none !important;
}
</style>
