<template>
  <v-app app class="index">
    <v-content>
      <!-- <transition name="none" enter-active-class="animated faster noAnimation" appear mode="out-in"> -->
      <router-view />
     
      <!-- </transition> -->
    </v-content>
    {{changeBackgroundColor}}{{appFont()}}
  </v-app>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "App",
  components: {},
  data() {
    return {
      //
      // num: ""
      // message: ""
    };
  },
  methods: {
    appFont() {
      document.querySelector("#app").style.fontFamily = this.settings.font;
    }
  },
  computed: {
    ...mapState(["settings", "notes"]),
    changeBackgroundColor() {
      if (this.settings.makeBgColorChoise != false) {
        document.querySelector(
          "body"
        ).style.background = this.settings.bgColor.hex;
      }
    }
  },

  created: function() {},
  mounted() {
    console.log(this.$route.params);
    // this.appFont();
  }
};
</script>
<style>
@import url(assets/animate.css);
.mt-48 {
  margin-top: 48px !important;
}
body {
  background-color: rgb(241, 241, 241);
  -webkit-transition: background-color 1s ease-in-out;
  -moz-transition: background-color 1s ease-in-out;
  -o-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
}
.index {
  background: rgba(255, 255, 255, 0.5) !important;
  /* height: 100%; */
}
.noAnimation {
  -webkit-animation-name: noAnimation;
  animation-name: noAnimation;
}

@-webkit-keyframes noAnimation {
  to {
    opacity: 1;
  }
}
@keyframes noAnimation {
  to {
    opacity: 1;
  }
}
/* font face */

@font-face {
  font-family: "Milasian Circa";
  src: url("assets/fonts/font_1.ttf");
}
@font-face {
  font-family: "Vacer Sans";
  src: url("assets/fonts/font_2.ttf");
}
/* Defualt font Text Me One*/
@font-face {
  font-family: "Text Me One";
  src: url("assets/fonts/font_3.ttf");
}
@font-face {
  font-family: "Waiting for the Sunrise";
  src: url("assets/fonts/font_4.ttf");
}
@font-face {
  font-family: "Nothing You Could Do";
  src: url("assets/fonts/font_5.ttf");
}
/**/
@font-face {
  font-family: "Blockography";
  src: url("assets/fonts/font_8.ttf");
}
@font-face {
  font-family: "Stroke Dimension";
  src: url("assets/fonts/font_9.ttf");
}
@font-face {
  font-family: "Made With B";
  src: url("assets/fonts/font_10.ttf");
}

@font-face {
  font-family: "Special Elite";
  src: url("assets/fonts/font_11.ttf");
}
@font-face {
  font-family: "Sniglet";
  src: url("assets/fonts/font_13.ttf");
}
@font-face {
  font-family: "Monoton";
  src: url("assets/fonts/font_14.ttf");
}

/**/

@font-face {
  font-family: "Meddon";
  src: url("assets/fonts/font_16.ttf");
}
@font-face {
  font-family: "Many Weatz";
  src: url("assets/fonts/font_17.ttf");
}
@font-face {
  font-family: "Wankstaberg Battles";
  src: url("assets/fonts/font_18.ttf");
}
@font-face {
  font-family: "Love Ya Like A Sister";
  src: url("assets/fonts/font_19.ttf");
}
@font-face {
  font-family: "Kranky";
  src: url("assets/fonts/font_20.ttf");
}
@font-face {
  font-family: "Just Another Hand";
  src: url("assets/fonts/font_21.ttf");
}
@font-face {
  font-family: "Orbitron";
  src: url("assets/fonts/font_22.ttf");
}
@font-face {
  font-family: "Short Stack";
  src: url("assets/fonts/font_32.ttf");
}
/**/
@font-face {
  font-family: "UnifrakturCook";
  src: url("assets/fonts/font_34.ttf");
}
@font-face {
  font-family: "Smokum";
  src: url("assets/fonts/font_35.ttf");
}
/* test */
/* #app{
  font-family: 'Just Another Hand';
} */
</style>
