<template>
  <div>
    <v-layout row>
      <v-flex xs12>
          <v-toolbar class="elevation-0" color="cyan" fixed dark>
            <v-toolbar-side-icon to="/">
              <v-icon>mdi-chevron-left</v-icon>
            </v-toolbar-side-icon>

            <v-toolbar-title>Jote</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-btn icon @click="newNote()">
              <v-icon>mdi-check</v-icon>
            </v-btn>
          </v-toolbar>
          <transition
            name="router-anim"
            enter-active-class="animated faster fadeIn"
            mode="out-in"
            appear
          >
            <router-view class="mt-48"/>
          </transition>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  methods: {
    newNote() {
      this.$bus.emit("new-Note");
    }
  }
};
</script>
<style>
</style>
