<template>
  <div>
    <v-layout row>
      <v-flex xs12>
        <v-toolbar class="elevation-0 defualt__toolBar" fixed color="cyan" dark>
          <!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
          <v-toolbar-title>Jote</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon to="/create-new-note">
            <v-icon>mdi-plus</v-icon>
          </v-btn>

          <v-menu transition="slide-x-reverse-transition" bottom right>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on" class="mr-1">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>

            <v-list class="pb-05">
              <v-list-tile @click="sortByTime">
                <v-list-tile-title>sort by modified Time</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="sortAlpabetically">
                <v-list-tile-title>sort by Title</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="remove">
                <v-list-tile-title>Delet all notes</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="1" to="/settings">
                <v-list-tile-title>settings</v-list-tile-title>
              </v-list-tile>
              <v-divider></v-divider>
              <v-list-tile @click="1">
                <v-list-tile-title>About</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-toolbar>
        <transition
          name="router-anim"
          enter-active-class="animated faster fadeIn"
          mode="out-in"
          appear
        >
          <router-view class="mt-48"/>
        </transition>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
    return {};
  },
  computed: { ...mapState(["notes"]) },
  methods: {
    sortByTime() {
      var sortByTime = this.notes.sort((a, b) => {
        return b.time - a.time;
        // console.log(a.title)
      });
      this.$store.commit("rearareng", sortByTime);
    },
    sortAlpabetically() {
      var sortByTitle = this.notes.sort((a, b) => {
        //   var nA = a.title.toLowerCase();
        //   var nB = b.title.toLowerCase();

        //   if (nA < nB) return -1;
        //   else if (nA > nB) return 1;
        //   return 0;
        return a.title.localeCompare(b.title);
      });

      this.$store.commit("rearareng", sortByTitle);
    },
    deleteAllNotes() {
      console.log("del ::");
      // this.$bus.emit("note-Animation");
    },
    remove: function() {
      this.notes.splice(0, 1);
    }
    // defaultSort() {
    //   return ;
    // }
  }
};
</script>
<style>
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
.pb-05 {
  padding-bottom: 2px;
}
.v-menu__content {
  right: 0%;
  left: unset !important;
}
.defualt__toolBar .v-toolbar__content{
  padding-right:5px;
}
</style>
