<template>
  <div>
    <v-layout row>
      <v-flex xs12>
        <v-toolbar class="elevation-0" fixed color="cyan" dark>
          <v-toolbar-side-icon @click="noChangeToNote()">
            <v-icon>mdi-chevron-left</v-icon>
          </v-toolbar-side-icon>
          <v-toolbar-title>Jote</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="makeChangeToNote()">
            <v-icon>{{'mdi-'+editState}}</v-icon>
          </v-btn>
        </v-toolbar>
        <transition
          name="router-anim"
          enter-active-class="animated faster fadeInRight"
          mode="in-out"
          appear
        >
          <router-view class="mt-48" />
        </transition>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      editState: "feather",
      edAll: false,
      edHeader: false,
      edContent: false
    };
  },
  computed: {
    ...mapState(["edit"])
  },
  methods: {
    makeChangeToNote() {
      // this.edit = !this.edit;
      if (this.edAll == false) {
        this.edAll = true;
        this.editState = "check";

        console.log("ed::", this.edit);
        this.$store.commit("toggleEdit", this.edAll);
        console.log("%c edit" + this.edit.all + " ", "color:green");
      } else {
        this.edAll = false;

        this.editState = "feather";
        this.$store.commit("toggleEdit", this.edAll);

        console.log("%c edit" + this.edit.all + " ", "color:green");
      }
    },
    noChangeToNote() {
      this.$store.commit("toggleEdit", false);
      this.$router.push("/");
    }
  }
};
</script>
<style>
</style>
